/* css/styles.css */
body {
    font-family: system-ui;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    
}



header {
    background-color: #f9c834;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}

.nav-link:hover {
    background-color: #ddd;
}

.nav-link.active {
    font-weight: bold;
    background-color: #ccc;
}

 .logo img {
    height: 100px;
    width: 100px;
}

 

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: floralwhite;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom:0;
    width: 100%;
}


